<div class="main-page">
    <header></header>

	<div [class]="connectionState">{{connectionState}}</div><!-- TODO : Factorize(group.composant) -->
	
	<h1>Discovery</h1>

	<h2>Step 1 : Select host</h2>
	
	<div *ngIf="selectedHost == null;else step2">
		<div class="host" 
			(click)="selectHost(host)"
			*ngFor="let host of hosts">{{ host.name }}</div>
	</div>
	
	
	
	<ng-template #step2>
		<h2>Step 2 : Running <span class="cmdline">!check --list-plugin</span></h2>
		
		<div *ngIf="plugins != null; then step3 else showProgress"></div>
	</ng-template>

	
	
	<ng-template #step3>
		<h2>Step 3 : Select plugin</h2>

		<div *ngIf="selectedPlugin == null;else step4">
			<div class="plugin" 
				(click)="selectPlugin(plugin)"
				*ngFor="let plugin of plugins">{{ plugin.name }}</div>
		</div>
	</ng-template>

	
	
	<ng-template #step4>
		<h2>Step 4 : You selected {{ selectedPlugin.name }} <span class="back" (click)="cancelSelectedPlugin()">Back</span></h2>
		<div class="family">
			<div class="description"><label>Name :</label>{{ selectedPlugin.name }}</div>
			<div class="description"><label>Description :</label>{{ selectedPlugin.description }}</div>
			<div class="description"><label>Local :</label>{{ selectedPlugin.local }}</div>
			<div class="description" *ngIf="selectedPlugin.protocol!=null"><label>Protocol :</label>{{ selectedPlugin.protocol }}</div>
			<button class="save" *ngIf="selectedPlugin.familyIds==null" (click)="saveSelectedPluginToFamily()">Save</button>
			<button class="saved" 
				disabled 
				*ngIf="selectedPlugin.familyIds!=null" 
				(click)="saveSelectedPluginToFamily()">Saved
				({{ selectedPlugin.familyIds.length }} id<span *ngIf="selectedPlugin.familyIds.length>1">s</span>)</button>
		</div>
		<pre>{{ outputStep4 }}</pre>	

		<div class="mode" 
				(click)="selectMode(mode)"
				*ngFor="let mode of selectedPluginModes">{{ mode }}</div>

		<div *ngIf="selectedCommand != null" class="command">
			  <div class="description"><label>Name :</label>{{ selectedCommand.name }}</div>
			  <div class="description"><label>Description :</label>{{ selectedCommand.description }}</div>
			  <div class="description"><label>Plugin :</label>{{ selectedCommand.plugin }}</div>
			  <div class="description"><label>CmdLine :</label>{{ selectedCommand.cmdLine }}</div>
			  <div class="description"><label>DefaultAgentName :</label>{{ selectedCommand.defaultAgentName }}</div>
			  <div class="description"><label>Variables :</label>
				<div class="var-list">
					<div *ngFor="let variable of selectedCommand.variables">
						<div class="description"><label>--{{ variable.name }} :</label>{{ variable.description }}</div>
					</div>
				</div>
			  </div>
		</div>
		
		<pre>{{ outputStep5 }}</pre>	

	</ng-template>
	
	
	
	
	<ng-template #showProgress>
		<div class="lds-css">
			<div style="width:100%;height:100%" class="lds-rolling">
				<div></div>
			</div>
		</div>
	</ng-template>

</div>