<div class="main-page">
    <header></header>

	<div [class]="connectionState">{{connectionState}}</div><!-- TODO : Factorize(group.composant) -->
	
	<h1>Discovery</h1>

	<h2>Step 1 : Select host</h2>
	
	<div *ngIf="selectedHost == null;else step2">
		<div class="host" 
			(click)="selectHost(host)"
			*ngFor="let host of hosts">{{ host.name }}</div>
	</div>
	
	
	
	<ng-template #step2>
		<h2>Step 2 : Running <span class="cmdline">!check --list-plugin</span></h2>
		
		<div *ngIf="plugins != null; then step3 else showProgress"></div>
	</ng-template>

	
	
	<ng-template #step3>
		<h2>Step 3 : Select plugin</h2>

		<div *ngIf="selectedFamily == null;else step4">
			<div class="plugin" 
				(click)="selectPlugin(family)"
				*ngFor="let family of plugins">{{ family.name }}</div>
		</div>
	</ng-template>

	
	
	<ng-template #step4>
		<h2>Step 4 : You selected {{ selectedFamily.name }} <span class="back" (click)="cancelSelectedPlugin()">Back</span></h2>
		<div class="family">
			<div class="description"><label>Name :</label>{{ selectedFamily.name }}</div>
			<div class="description"><label>Plugin :</label>{{ selectedFamily.plugin }}</div>
			<div class="description"><label>Description :</label>{{ selectedFamily.description }}</div>
			<button class="save" *ngIf="! selectedFamily.id" (click)="saveFamily(selectedFamily)">Save</button>
			<button class="saved" *ngIf="selectedFamily.id">Update (id={{selectedFamily.id}})</button>
		</div>
		<pre>{{ outputStep4 }}</pre>	

		<div class="mode" 
				(click)="selectMode(mode)"
				*ngFor="let mode of selectedFamilyModes">{{ mode }}</div>

		<pre>{{ outputStep5 }}</pre>	

	</ng-template>
	
	
	
	
	<ng-template #showProgress>
		<div class="lds-css">
			<div style="width:100%;height:100%" class="lds-rolling">
				<div></div>
			</div>
		</div>
	</ng-template>

</div>