.alert{
    border: 1px solid #CCC;
    width: 110%;
    margin: -10px;
	margin-bottom: 10px;
    padding: 10px;
}

.alert-danger {
    background:#e0780a;
    color: #FFF;
    font-weight: bold;
    font-size: larger;
}

.alert-success {
    background:#ddf;
    color: #000;
}