<section>
  <div class="header">
	<h1>Applications</h1>	
	<input class="new-application" 
		placeholder="Enter new application"
		autofocus=""
		[(ngModel)]="newApplication.name"
		(keyup.enter)="addApplication()"/>
  </div>
  
  <section class="main" *ngIf="applications.length > 0">
	  <div *ngFor="let application of applications"
			class="application"
			dnd-droppable
			[allowDrop]="allowDropFunction(application)"
			(onDropSuccess)="dropComposant(application,$event)"
			[class.selected]="selectedApplication==application"
			(click)="selectApplication(application)">
		  {{application.name}}
		  <button class="delete-btn" (click)="removeApplication(application)">&times;</button>
	  </div>
  </section>
</section>
