.application {
	width:140px;
	background:#aaa;
	position:relative;
	margin:12px 4px;
    padding: 3px 35px;
    text-align: center;
}


.application:hover {
    color: #607D8B;
    background-color: #999;
	position:relative;
    left: .3em;
  }
  
.application.selected {
    background-color: #8cabe4;
    left: .3em;
}