<div *ngIf="application != null">
	
	<div class="app-name"><h3>{{ application.name }}</h3></div>
	<div>
	
		<table class="hosts">	
		<tr *ngFor="let host of knownHosts">
			<th class="host">
				{{ host.name }}
				<button
					(click)="deleteHost(host)"
					class="delete-btn">&times;</button>
			</th>
			<td>
				<composant-list [application]="application" [host]="host"></composant-list>
			</td>
		</tr>
		
		<!-- Ajout de host -->
		<tr><th>
			<input class="new-host" 
				placeholder="Enter new host"
				[(ngModel)]="newHostname"
				(keyup.enter)="addHost()"/>
		</th></tr>
		
		</table>
	
	</div>
	
</div>