<section>
  <div class="header">
	<h1>Hosts</h1>	
	<input class="new-host" 
				placeholder="Enter new host"
				[(ngModel)]="newHostname"
				(keyup.enter)="addHost()"/>
  </div>
  
	<div class="app-name">
		<h3 *ngIf="application != null">{{ application.name }}</h3>
		<h3 *ngIf="application == null" class="no-app-title">(select an application)</h3>
	</div>
	<div>
	
		<table class="hosts">	
		<tr *ngFor="let host of knownHosts">
			<th class="host">
				{{ host.name }}
				<button
					(click)="deleteHost(host)"
					class="delete-btn">&times;</button>
			</th>
			<td>
				<composant-list [application]="application" [host]="host"></composant-list>
			</td>
		</tr>		
		
		</table>
	
	</div>
	
</section>