table {
	width: 100%
}

td {
	vertical-align: top;
	width:30%;
}

td.dependency {
    position: relative;
    top: 77px;
	width:50%;
	text-align:center;
	border:solid 1px #aaa;
}

td.technologies {
    position: relative;
    top: 25px;
	padding:16px;
	width:20%;
}
