<section>
  <div class="header">
	<h1>Families</h1>	
	<input class="new-family" 
		placeholder="Enter new family name"
		autofocus=""
		[(ngModel)]="newFamily.name"
		(keyup.enter)="addFamily()">	
		<br>

  </div>
  <section class="main" *ngIf="families.length > 0">
	<table class="family-list">
	  <tr *ngFor="let family of families">
		<th>
		  <label>{{family.id}}</label>
		  </th>
    	  <th>
		  <label>{{family.name}}</label>
		  </th>
		  <td>{{family.description}}
		  </td>
		  <td>
		  <button class="destroy" (click)="removeFamily(family)">Delete</button>
		  </td>
	  </tr>
	</table>
  </section>
</section>
