<section class="technologyapp" [class.detailed]="detailed" [class.summary]="!detailed">
  <div class="header">
	<h1>{{ title }}</h1>
	<input *ngIf="editable"
		class="new-technology" 
		placeholder="Enter new tech name"
		autofocus=""
		[(ngModel)]="newTechnology.name"
		(keyup.enter)="addTechnology()">
  </div>
  <section class="main" *ngIf="technologies.length > 0">
	<table class="technology-list">
	  <tr *ngFor="let technology of technologies">
		<td><div dnd-draggable [dragEnabled]="!detailed" [dragData]="technology">
		  <img src="{{ technology.iconUri }}">
		  </div>
		 </td><th *ngIf="detailed">
		  <label>{{technology.name}}</label>
		  </th><td *ngIf="editable" class="delete">
		  <button
			class="delete-btn"
			(click)="removeTechnology(technology)">&times;</button>
		  </td>
	  </tr>
	</table>
  </section>
</section>
