.main {
	width:132px;
	position: relative;
    display: inline-block;
}
.main .drag {
	background:#fff;
	border:dashed 1px black;
	padding:1px;
	margin:4px;
	vertical-align:middle;
}
.summary h1 {
	font-size: 12px;
	padding:0px;
}
.summary div.main:hover .drag {
	border:solid 2px black;
	padding:0px;
}
.delete {
    position: relative;
    top: -70px;
}