.summary h1 {
	font-size: 12px;
	padding:0px;
}
.summary table {
	margin-top:15px;
}	
.summary td div {
	background:#fff;
	border:dashed 1px black;
	margin:1px;
	vertical-align:middle;
}	
.summary td:hover div {
	border:solid 2px black;
	margin:0px;
}
.delete {
	position: relative;
}