<div class="main-page">
    <header></header>
	<div [class]="connectionState">{{connectionState}}</div><!-- TODO : Factorize(page-plugin-discovery.composant) -->

	<div *ngIf="composant!=null && selectedHost!=null && implantation!=null">
	
	<table border="1" class="title">
	<tr class="header"><tr><th>Component :</th><th><span>Host</span><span *ngIf="otherHosts.length>1">s</span> :</th></tr>
	<tr class="body" *ngFor="let titleHost of otherHosts;let idx=index">
			<!-- First line only -->
			<th [attr.rowspan]="otherHosts.length" *ngIf="idx==0">
				<h2>{{composant.name}}
				<br>
				<img src="{{ composant.technology.iconUri }}">
				</h2>
			</th>
		<td class="host" 
			[routerLink]="['/checklist',titleHost.id,composant.id]" 
			[class.selected]="selectedHost.name==titleHost.name">{{titleHost.name}}</td>
	</tr></table>
	
	<!--   END TITLE   -->
	
	<div class="editor" *ngIf="selectedAgent">
		<div class="cartouche">
			<div class="name">{{ editCommandTemplate.name }}</div>
			<div class="description">{{ editCommandTemplate.description }}</div>
		</div>
		<div class="agent-name"><input [(ngModel)]="selectedAgent.name" (keyup.enter)="testAgent(selectedAgent)"></div>
		<div class="control">
			<button class="save" (click)="registerAgent(selectedAgent)">Save</button>
			<!-- <button (click)="testAgent(selectedAgent)" class="test">Test</button> -->
			<div class="cmdline">
				<div class="prompt">{{selectedHost.name}} > </div>
				<div class="line"> {{ cmdLine }} </div>
			</div>
			<div class="result" *ngIf="result">
				<div class="stdout">{{result.stdout}}</div>
				<div class="stderr">{{result.stderr}}</div>
				<div class="result">-</div>
			</div>
		</div>
		<div class="simple-vars">
			<table>
				<tr *ngFor="let variable of editSimpleVariablesTemplate">
					<th>{{variable.name}}</th>
					<td><input [(ngModel)]="values[variable.name]" (keyup.enter)="testAgent(selectedAgent)"></td>
					<td>{{variable.description}}</td>
				</tr>
			</table>
		</div>
		
		<!--           Advanced parameters      -->
		<div *ngIf="editAdvancedVariablesTemplate.length>0">
			<div class="toggle toggleAdvanced" (click)="displayAdvanced = !displayAdvanced">
				<span *ngIf="displayAdvanced">v</span>
				<span *ngIf="!displayAdvanced">></span>Advanced :
			</div>
			<div *ngIf="displayAdvanced" class="advanced-vars">
				<table>
					<tr *ngFor="let variable of editAdvancedVariablesTemplate">
						<th>{{variable.name}}</th>
						<td><input [(ngModel)]="values[variable.name]" (keyup.enter)="testAgent(selectedAgent)"></td>
						<td>{{variable.description}}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<!--           Protocol parameters      -->
		<div *ngIf="editProtocolVariablesTemplate.length>0">
			<div class="toggle toggleAdvanced" (click)="displayProtocol = !displayProtocol">
				<span *ngIf="displayProtocol">v</span>
				<span *ngIf="!displayProtocol">></span>Protocol :
			</div>		
			<div *ngIf="displayProtocol" class="protocol-vars">		
				<table>
					<tr *ngFor="let variable of editProtocolVariablesTemplate">
						<th>{{variable.name}}</th>
						<td><input [(ngModel)]="values[variable.name]" (keyup.enter)="testAgent(selectedAgent)"></td>
						<td>{{variable.description}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="family-list">
			<h3>Drag a family :</h3>
			<div *ngFor="let family of families">
				<div class="family"
					dnd-draggable
					[dragData]="family"
					[dropZones]="['family']">
					<span class="protocol">[ {{family.protocol ? family.protocol.name : 'local'}} ]</span>
					{{family.name}}
				</div>
			</div>
		</div>

		<div class="check-list">
			<h3>List of checks :</h3>
			<div class="all-checks"
				dnd-droppable
				[dropZones]="['family']"
				(onDropSuccess)="dropFamily($event.dragData)">
				<div
					*ngFor="let family of selectedFamilies">
				<div class="family">
					<span class="protocol">[ {{family.protocol ? family.protocol.name : 'local'}} ]</span>
					{{family.name}}
					<div class="command-family-checks">
						<div class="command-list"
							*ngIf="commandsShown[family.id]">
							<div class="command"
								*ngFor="let command of family.commands"
								(click)="editNewAgent(family,command)">{{command.name}}</div>
						</div>
						<div class="family-checks">						
							<div class="agent"
								*ngFor="let agent of checksByFamilies[family.id]"
								(click)="editAgent(agent)">{{agent.name}}</div>
							<div class="add-command"
								(click)="toggleAddCommand(family)"
								*ngIf="!commandsShown[family.id]">+</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	
</div>