/* Edit box */

.editor {
	position: relative;
    border: solid 2px;
	padding: 4px;
	background: #cbd4e6;
}

.editor .save {
	position: absolute;
    right: 2px;
	top: 2px;
}

.cartouche {	
    display: flex;
    flex-direction: row;
}

.cartouche .name {
    border: solid 1px;
    margin: -5px;
    padding: 2px 12px;
    font-size: large;
	background: #ecf5f7;
}

.cartouche .description {
    margin: -1px;
    padding: 2px 12px;	
}

.editor > .agent-name {	
	margin-top: 8px;
    padding: 4px;
    font-weight: bold;
}

.toggle {
	padding: 2px;
	border: solid 1px #aaa;
}

.cmdline, .stdout, .stderr {	
	background:#1d1f21;
	padding:2px;
	font-family: monospace;
}

.cmdline {	
	color:#93bf88;
}

.stdout {	
	color:#fcffe1;
}

.stderr {	
	color:#F00;
}

.cmdline div {
    display: inline-block;
}

.control {
	margin-bottom: 8px;
}


/* Edit box end */


.family {
	margin:2px;
	padding:2px;
	border:solid 1px #888;
	width: 25em;
}
.family:hover {
	background:#eee;
}

.container {
	display: flex;
}

.check-list {
	margin-left: 8px;
	flex-grow: 1;
}
.check-list .family {
	margin: 4px;
}

.command-family-checks {
	margin:6px;
	display: flex;
}
.command-family-checks .command-list {
	background: #d4a3a5;
}
.command-family-checks .command {
	background: #9fc0ea;
	margin:2px;
	padding:2px;
	border:solid 1px #888;
}
.command-family-checks .command:hover {
	background: #aa9fea;
}

.family-checks {
	background: white;
	flex-grow: 1;
}

.all-checks {
	width: 100%;
	height: 100%;
	background: #eee;
}

.agent {
	margin:2px;
	padding:2px;
	border:solid 1px #888;
}
.agent:hover {
	background: #a3f5ad;
}

.add-command {
    background: green;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 16px;
    color: white;
	margin: 8px;
}






.disconnected,  .connected, .error {
    position: absolute;
    display: inline-block;
    right: 6px;
    padding: 3px 35px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
    text-align: center;
    text-transform: uppercase;
    width: 130px;
}

.disconnected, .error {
    background: #d93131;
}

.connected {
    background: #60f360;
}