.state-ok {
	background:#0F0;
}

.state-warning {
	background:#ffd400;
}

.state-critical {
	background:#F02;
}

.composant {
	width: 233px;
	border: solid 1px #444;
	margin: 6px;
	margin-left: 24px;
	font-size: 12px;	
    font-weight: bold;
    font-family: monospace;
    text-align: left;
	cursor: pointer;
}

.composant:hover {
	background:#eee;
}

.left, .right {
    display: inline-flex;
}
.left {
	line-height: 15px;
    vertical-align: middle;
}
.right {  
	background: #aaa;
	height: 16px;
    float: right;
    padding: 0 6px;
}
img {
	width:30px;
	height:15px;
    margin:0 4px;
}
