  <div *ngFor="let composant of composants"
	[routerLink]="['/checklist',host.id,composant.id]"
	class="composant">
  	<div class="left">
	  	<img src="{{ composant.technology.iconUri }}">
	  	<span class="name">{{ composant.name }}</span>
	</div>
	<div class="right">
	  	{{ composant.agents.length }}
		<span 
			[class.state-ok]="agent.status==0"
			[class.state-warning]="agent.status==1"
			[class.state-critical]="agent.status==2"
			*ngFor="let agent of composant.agents">&nbsp;</span>
	</div>
  </div>