h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
  .selected {
    background-color: #CFD8DC !important;
    left: .3em;
	font-weight: bold;
  }
  .hosts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 31em;
  }
  .hosts li.alive .badge {
    background-color: #47cc5a;
    color: #000;
  }
  .hosts li {
    cursor: pointer;
    position: relative;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 14px;
  }
  .hosts li.selected:hover {
    background-color: #BBD8DC !important;
	color: #000 !important;
  }
  .hosts li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .3em;
  }
  .hosts .badge {
    display: inline-block;
	width: 17em;
	font-weight: normal !important;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 8px 0 0 8px;
  }