h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.disconnected,  .error {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: -40px;
    padding: 3px 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
    text-align: center;
    text-transform: uppercase;
    background: #d93131;
    width: 100px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);	
}

.connected {
	display: none;
}

.hosts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 31em;
  }
