<div *ngIf="host">
	<h2>{{host.name}} details!</h2>
	<div><label>client: </label>{{host.client}}</div>
	<div>
	  <label>Command line: </label>
	  <input [(ngModel)]="host.cmdline" (keyup.enter)="sendCommand()" placeholder="Command line">
	  <pre class="stdout">{{host.last_stdout}}</pre>
	  <pre class="stderr">{{host.last_stderr}}</pre>
	</div>
	
	<ul *ngIf="host.services">
	<service-state class="service-state" *ngFor="let serviceName of objectKeys(host.services)"
		[host]="host" [service]="host.services[serviceName]">
    </service-state>
	</ul>

</div>